Importing the necessary Modules

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import plotly.express as ex
import plotly.graph_objects as go

Reading the Manually Extracted Dataset from SEC's EDGAR's database

https://www.sec.gov/edgar/searchedgar/cik

In [3]:
df = pd.read_csv('Report.csv')

In [4]:
df

,Year,Company,Total Revenue,Net Income,Total Assets,Total Liabilities,Cash Flow from Operating Activities
0,2023,Microsoft,211915,72361,411976,205753,87582
1,2022,Microsoft,198270,72738,364840,198298,89035
2,2021,Microsoft,168088,61271,333779,191791,76740
3,2023,Tesla,96773,14974,106618,43009,13256
4,2022,Tesla,81462,12587,82338,36440,14724
5,2021,Tesla,53823,5644,62131,30548,11497
6,2023,Apple,383285,96995,352583,290437,110543
7,2022,Apple,394328,99803,352755,302083,122151
8,2021,Apple,365817,94680,351002,287912,104038

Calculating Year-by-Year growth rates for Total Revenue, Net Income, Total Assets, Total Liabilities and Cash flow from Operations Activities

In [5]:
df['Revenue Growth (%)'] = df.groupby(['Company'])['Total Revenue'].pct_change() * 100
df['Net Income Growth (%)'] = df.groupby(['Company'])['Net Income'].pct_change() * 100
df['Assets Growth (%)'] = df.groupby(['Company'])['Total Assets'].pct_change() * 100
df['Liabilities Growth (%)'] = df.groupby(['Company'])['Total Liabilities'].pct_change() * 100
df['Cash Flow from Operations Growth (%)'] = df.groupby(['Company'])['Cash Flow from Operating Activities'].pct_change() * 100

In [6]:
df

,Year,Company,Total Revenue,Net Income,Total Assets,Total Liabilities,Cash Flow from Operating Activities,Revenue Growth (%),Net Income Growth (%),Assets Growth (%),Liabilities Growth (%),Cash Flow from Operations Growth (%)
0,2023,Microsoft,211915,72361,411976,205753,87582,NaN,NaN,NaN,NaN,NaN
1,2022,Microsoft,198270,72738,364840,198298,89035,-6.438902,0.520999,-11.441443,-3.623276,1.659017
2,2021,Microsoft,168088,61271,333779,191791,76740,-15.222676,-15.764800,-8.513595,-3.281425,-13.809176
3,2023,Tesla,96773,14974,106618,43009,13256,NaN,NaN,NaN,NaN,NaN
4,2022,Tesla,81462,12587,82338,36440,14724,-15.821562,-15.940964,-22.772890,-15.273547,11.074231
5,2021,Tesla,53823,5644,62131,30548,11497,-33.928703,-55.160086,-24.541524,-16.169045,-21.916599
6,2023,Apple,383285,96995,352583,290437,110543,NaN,NaN,NaN,NaN,NaN
7,2022,Apple,394328,99803,352755,302083,122151,2.881146,2.894995,0.048783,4.009820,10.500891
8,2021,Apple,365817,94680,351002,287912,104038,-7.230275,-5.133112,-0.496945,-4.691095,-14.828368

Imputing Null/NaN values that result from pct_change calculations with 0

In [7]:
df.fillna(0, inplace=True)

In [8]:
df

,Year,Company,Total Revenue,Net Income,Total Assets,Total Liabilities,Cash Flow from Operating Activities,Revenue Growth (%),Net Income Growth (%),Assets Growth (%),Liabilities Growth (%),Cash Flow from Operations Growth (%)
0,2023,Microsoft,211915,72361,411976,205753,87582,0.000000,0.000000,0.000000,0.000000,0.000000
1,2022,Microsoft,198270,72738,364840,198298,89035,-6.438902,0.520999,-11.441443,-3.623276,1.659017
2,2021,Microsoft,168088,61271,333779,191791,76740,-15.222676,-15.764800,-8.513595,-3.281425,-13.809176
3,2023,Tesla,96773,14974,106618,43009,13256,0.000000,0.000000,0.000000,0.000000,0.000000
4,2022,Tesla,81462,12587,82338,36440,14724,-15.821562,-15.940964,-22.772890,-15.273547,11.074231
5,2021,Tesla,53823,5644,62131,30548,11497,-33.928703,-55.160086,-24.541524,-16.169045,-21.916599
6,2023,Apple,383285,96995,352583,290437,110543,0.000000,0.000000,0.000000,0.000000,0.000000
7,2022,Apple,394328,99803,352755,302083,122151,2.881146,2.894995,0.048783,4.009820,10.500891
8,2021,Apple,365817,94680,351002,287912,104038,-7.230275,-5.133112,-0.496945,-4.691095,-14.828368

In [9]:
df.to_csv('Final Report.csv')

In [10]:
summary = df.groupby('Company').agg({
    'Revenue Growth (%)': 'mean',
    'Net Income Growth (%)': 'mean',
    'Assets Growth (%)' : 'mean',
    'Liabilities Growth (%)' : 'mean',
    'Cash Flow from Operations Growth (%)' :'mean'
}).reset_index()

In [11]:
print('Year-By-Year Average Growth Rates(%) :-')
print('             OR')
print("Overall Growth/Fall rate for Apple, Microsoft and Tesla from Fiscal Year 2021 - 2023")
summary

Year-By-Year Average Growth Rates(%) :-
             OR
Overall Growth/Fall rate for Apple, Microsoft and Tesla from Fiscal Year 2021 - 2023

,Company,Revenue Growth (%),Net Income Growth (%),Assets Growth (%),Liabilities Growth (%),Cash Flow from Operations Growth (%)
0,Apple,-1.449710,-0.746039,-0.149388,-0.227092,-1.442492
1,Microsoft,-7.220526,-5.081267,-6.651679,-2.301567,-4.050053
2,Tesla,-16.583422,-23.700350,-15.771471,-10.480864,-3.614123

In [12]:
summary.to_csv('Summary Final Report.csv')